html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  overflow: hidden;
}

* { @include text-shadow(none); }

cite {
  @include inline-block;
  margin-bottom: 1.25em;
  font-style: italic;
  &:before {
    @include inline-block;
    content: "\2014 \0020";
    margin-right: 4px;
  }
}

#header {
  background: $primary-color;
  padding: 1.25em 0;
  margin-bottom: 2.5em;
  h1 { font-size: emCalc(56); }
  p { font-size: emCalc(24); }
  &,h1 { color: $white; }

}

%flush-top {
  .post { padding-top: 0; }
}

#sidebar {
  @include clearfix;
  text-align: left;
  margin-bottom: 4em;
  h1,p {
    margin: 0 20px;
    color: white;
  }
  h1 { margin-top: -4.5em; }

  .avatar {
    @include inline-block;
    @include background-size(cover);
    background-position: center center;
    width: 100%;
    height: 260px;
    overflow: hidden;
    margin-bottom: 1em;
    img { display: none; }
  }
}
#main { @include clearfix; }

@media #{$small} {
  #sidebar {
    text-align: center;
    background: none;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    h1, p { color: $off-black; }
    h1 { margin-top: 0; }
  }
  #main {
    position: absolute;
    overflow-x: hidden;
    margin: 0;
    width: 75%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
  }
}

#main-wrapper { @include grid-row; }

#posts {
  @include block-grid(1);
  font-size: emCalc(24);
  li {
    &.post-quote {
      @extend %flush-top;

      blockquote {
        background: $primary-color;
        color: $white;
        font-family: "ff-tisa-web-pro";
        font-size: emCalc(24);
        font-style: italic;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        cite {
          color: $white;
          font-size: emCalc(10);
        }
      }
    }
    &.post-photo {
      @extend %flush-top;
    }
    &.post-photoset {
      @extend %flush-top;
    }
    .post {
      @include grid-row;
      overflow-x: hidden;
      // background: rgba($white, 0.95);
      font-size: emCalc(14);
      padding-bottom: 1.25em;
      padding-top: 1.25em;
      padding-left: 1.25em;
      padding-right: 1.25em;
      margin-bottom: 2.5em;

      .title {
        // border-bottom: 3px solid $off-white;
      }

      .content {
        margin: 0;
        margin-bottom: 1.25em;
      }

      .footer {
        color: $light-grey;
        font-family: $sans-title;
        font-size: emCalc(12);
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 1px solid $off-white;
        margin: 0;
        padding: 0 0 2.5em 0;
      }
      ul,ol { margin-left: 0; }
    }

    .photo {
      font-size: emCalc(24);
      margin-bottom: 1.25em;
      max-height: 16em;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .html_photoset {
      margin-bottom: 1.25em;
      overflow: hidden;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-header;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

a {
  &:hover {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}