html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  overflow-x: hidden;
}

* { @include text-shadow(none); }

cite {
  @include inline-block;
  margin-bottom: 1.25em;
  font-style: italic;
  &:before {
    @include inline-block;
    content: "\2014 \0020";
    margin-right: 4px;
  }
}

#header {
  background: $primary-color;
  padding: 1.25em 0;
  margin-bottom: 2.5em;
  h1 { font-size: emCalc(56); }
  p { font-size: emCalc(24); }
  &,h1 { color: $white; }

}

%flush-top {
  .post { padding-top: 0; }
}

#posts {
  @include block-grid(1);
  font-size: emCalc(24);
  overflow-x: hidden;
  li {
    &.post-quote {
      @extend %flush-top;

      blockquote {
        border-left: 4px solid $primary-color;
        color: $grey;
        font-family: "ff-tisa-web-pro";
        font-size: emCalc(24);
        font-style: italic;
        padding-top: 1.25em;
        padding-bottom: 1.25em;
        cite {
          color: $light-grey;
          font-size: emCalc(10);
        }
      }
    }
    &.post-photo {
      @extend %flush-top;
    }
    &.post-photoset {
      @extend %flush-top;
    }
    .post {
      @include grid-row;
      overflow-x: hidden;
      background: $white;
      font-size: emCalc(14);
      padding-bottom: 1.25em;
      padding-top: 1.25em;
      padding-left: 1.25em;
      padding-right: 1.25em;
      margin-bottom: 2.5em;
      .content { margin: 0; }

      .footer {
        color: $light-grey;
        font-family: $sans-title;
        font-size: emCalc(12);
        font-weight: 600;
        text-transform: uppercase;
        border-top: 1px solid rgba($primary-color, .3);
        margin: 0;
        margin: 0 0 2.5em 0;
      }
      ul,ol { margin-left: 0; }
    }

    .photo {
      font-size: emCalc(24);
      margin-bottom: 1.25em;
      max-height: 16em;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .html_photoset {
      margin-bottom: 1.25em;

      overflow-x: hidden;
    }
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-header;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

a {
  &:hover {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
}