{block:Chat}
%li.post-chat
  .post
    .content
      {block:Title}
      .title
        %h3
          %a.link{ :href => "{Permalink}" } {Title}
      {/block:Title}

      %ul.chat

        {block:Lines}
        %li{ :class => "{Alt} user_{UserNumber}" }
          {block:Label}
          %span.label {Label}
          {/block:Label}
          {Line}
        {/block:Lines}
    = partial "/posts/post-footer"
{/block:Chat}