{block:Chat}
%li.post-chat
  .row
    .small-12.columns
      {block:Title}
      %h3
        %a.link{ :href => "{Permalink}" } {Title}
      {/block:Title}

      %ul.chat

        {block:Lines}
        %li{ :class => "{Alt} user_{UserNumber}" }
          {block:Label}
          %span.label {Label}
          {/block:Label}
          {Line}
        {/block:Lines}

{/block:Chat}