{block:Link}
%li.post-link
  .post
    .content
      %a.link{ :href => "{URL}", :target => "{Target}" } {Name}
      {block:Description}
      .description {Description}
      {/block:Description}
    = partial "/posts/post-footer"
{/block:Link}