{block:Photo}
%li.post-photo
  .post
    .photo
      %img(src="{PhotoURL-500}" alt="{PhotoAlt}")
    {block:Caption}
    .content {Caption}
    {/block:Caption}
    = partial "/posts/footer"
{/block:Photo}