{block:Text}
%li.post-text
  .post
    {block:Title}
    .title
      %h3
        %a{ :href => "{Permalink}" } {Title}
    {/block:Title}
    .content {Body}
    = partial "/posts/footer"
{/block:Text}