{block:Text}
%li.post-text
  .post

    .meta
      {block:Tags} {Tag} {/block:Tags}

    .content
      {block:Title}
      .title
        %h3
          %a{ :href => "{Permalink}" } {Title}
      {/block:Title}
      {Body}
    = partial "/posts/post-footer"
{/block:Text}