#footer.row
  .small-12.columns
    {block:PreviousPage}
    %a.link{href: "{PreviousPage}"} &#171; Previous
    {/block:PreviousPage}

    {block:NextPage}
    %a.link{href: "{NextPage}"} Next &#187;
    {/block:NextPage}
    %a.link{href: "/archive"} Archive
